@charset "UTF-8";

/*パンくず*/
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 30px;
}

.pan a {
  color: #000000;
  text-decoration: none;
  position: relative;
  top: -40px;
  left: 15px
}

.breadcrumb li {
  display: inline;
  font-size: 25px;
}

/*本の固定*/
.books {
  display: flex;
}

/*文字の位置*/
.text {
  margin-top: 50px;
  margin-left: 50px;
  padding: 0;
}

h2 input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  width: 700px;
}

/*.inputContainer {
    display: flex;
    align-items: center;
  }

  .inputContainer h2 {
    margin-right: 10px;
  }

  .inputContainer input {
    flex: 1;
    height: 30px;
    font-size: 1.5em; 
  }

  /*本の大きさ*/
.example1 {
  width: 300px;
  height: 400px;
  padding-left: 50px;
  padding-top: 20px;
}

.hidden {
  display: none;
}

/*ボタンのスタイル*/
.buttonContainer {
  position: relative;
}

#rentButton

/*貸出ボタン*/
  {
  position: absolute;
  top: -10px;
  /* 上からの位置 */
  left: 450px;
  /* 左からの位置 */
  width: 350px;
  /* ボタンの幅 */
  height: 55px;
  /* ボタンの高さ */
  background-color: #FADF6A;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  border: none;
  /* ボタンのボーダーをなしにする */
  border-radius: 10px;
  /* ボタンの角を丸める */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
  margin-top: 20px;
  /* 上部の余白 */
  margin-right: 10px;
  /* 右側の余白 */
  font-size: 22px;
  /* テキストの大きさを変更する */
}

#returnButton

/*戻るボタン*/
  {
  position: absolute;
  top: -10px;
  /* 上からの位置 */
  left: 850px;
  /* 左からの位置 */
  width: 350px;
  /* ボタンの幅 */
  height: 55px;
  /* ボタンの高さ */
  background-color: #FADF6A;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  border: none;
  /* ボタンのボーダーをなしにする */
  border-radius: 10px;
  /* ボタンの角を丸める */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
  margin-top: 20px;
  /* 上部の余白 */
  margin-right: 10px;
  /* 右側の余白 */
  font-size: 22px;
  /* テキストの大きさを変更する */
}


/*ダイアログボックスのスタイル*/

.dialog {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}

#dialog2 {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}

.dialog3 {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}

#dialog4 {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}

#dialog5 {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}

#dialog6 {
  display: none;
  /* ダイアログを非表示にする */
  position: fixed;
  /* 固定位置に配置する */
  z-index: 1;
  /* ダイアログが他の要素よりも前面に表示されるようにする */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* コンテンツが表示領域を超えた場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.4);
  /* 背景色を半透明の黒にする */
}



.dialog-content {
  background-color: #fff;
  /* コンテンツの背景色を白にする */
  margin: 15% auto;
  /* 上下に15%、左右にautoのマージンを設定して中央に配置する */
  padding: 80px;
  /* コンテンツの内側の余白を設定する */
  width: 30%;
  /* コンテンツの幅を50%にする */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* コンテンツに影を付ける */
  text-align: center;
  /* テキストを中央に配置する */
}

.AddText {
  margin-top: -50px;
  margin-left: -20px;
}

.AddButtonText {
  position: absolute;
  top: 200px;
  left: 500px;
  font-size: 30px;
}

.AddButtonText2{
  position: absolute;
  top: 200px;
  left: 430px;
  font-size: 30px;
}

.AddButtonText3{
  position: absolute;
  top: 200px;
  left: 480px;
  font-size: 30px;
}

#completeButton

/*okボタン*/
  {
  position: absolute;
  top: 270px;
  /* 上からの位置 */
  left: 580px;
  /* 左からの位置 */
  width: 150px;
  /* ボタンの幅 */
  height: 55px;
  /* ボタンの高さ */
  background-color: greenyellow;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  border: none;
  /* ボタンのボーダーをなしにする */
  border-radius: 10px;
  /* ボタンの角を丸める */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
  margin-top: 20px;
  /* 上部の余白 */
  margin-right: 10px;
  /* 右側の余白 */
  font-size: 22px;
  /* テキストの大きさを変更する */
}

.dialog2-content {
  background-color: #fff;
  /* コンテンツの背景色を白にする */
  margin: 15% auto;
  /* 上下に15%、左右にautoのマージンを設定して中央に配置する */
  padding: 80px;
  /* コンテンツの内側の余白を設定する */
  width: 30%;
  /* コンテンツの幅を50%にする */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* コンテンツに影を付ける */
  text-align: center;
  /* テキストを中央に配置する */
}

.close:hover,
.close:focus {
  color: black;
  /* 閉じるボタンにマウスを乗せた時やフォーカスした時のテキスト色を黒にする */
  text-decoration: none;
  /* テキストの下線をなくす */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
}

#yesButton

/*はいボタン*/
  {
  position: absolute;
  top: 270px;
  /* 上からの位置 */
  left: 500px;
  /* 左からの位置 */
  width: 150px;
  /* ボタンの幅 */
  height: 55px;
  /* ボタンの高さ */
  background-color: greenyellow;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  border: none;
  /* ボタンのボーダーをなしにする */
  border-radius: 10px;
  /* ボタンの角を丸める */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
  margin-top: 20px;
  /* 上部の余白 */
  margin-right: 10px;
  /* 右側の余白 */
  font-size: 22px;
  /* テキストの大きさを変更する */
}

#noButton

/*いいえボタン*/
  {
  position: absolute;
  top: 270px;
  /* 上からの位置 */
  left: 700px;
  /* 左からの位置 */
  width: 150px;
  /* ボタンの幅 */
  height: 55px;
  /* ボタンの高さ */
  background-color: Red;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  border: none;
  /* ボタンのボーダーをなしにする */
  border-radius: 10px;
  /* ボタンの角を丸める */
  cursor: pointer;
  /* マウスカーソルをポインターにする */
  margin-top: 20px;
  /* 上部の余白 */
  margin-right: 10px;
  /* 右側の余白 */
  font-size: 22px;
  /* テキストの大きさを変更する */
}