.main {
    padding: 1px;
    margin: 0;
  }
  
  .header-divider {
    border-top: 2px solid 	#FFBBFF;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .book-image img {
    width: 200px;
  }
  header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

          /*パンくず*/
          .breadcrumb {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            top: 30px;
        }
    
        .pan a {
            color: #000000;
            text-decoration: none;
            position: relative;
            top: -40px;
            left: 15px
        }
    
        .breadcrumb li {
            display: inline;
            font-size: 25px;
        }

  .pc-nav {
    text-align: right;
  }

  .book-image img {
    width: 200px;
  }

  .history-item {
    display: flex;
    /* フレックスボックスを使用して要素を横並びに配置 */
    align-items: flex-start;
    /* 要素を上寄せに配置 */
    margin-bottom: 20px;
  }

  .book-details {
    margin-left: 20px;
    /* book-imageからの間隔を設定 */
  }

  .rental-status {
    color: red;
    /* レンタル中の文字色を赤色に設定 */
  }

  .return-date {
    color: red;
  }

  .return-status {
    color: lime;
    /* 返却済みと返却日の文字色を黄緑色に設定 */
  }